<div>
  <h1>Portfolio de Analía Videla</h1>
</div>
<div class="container">
  <div class=" card">
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nombreUsuario" placeholder="name" formControlName="nombreUsuario"
          [(ngModel)]="nombreUsuario">
        <label for="email">Nombre de Usuario </label>
      </div>
      <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
        <p *ngIf="NombreUsuario?.hasError('required')" class="error">
          Ingrese Nombre de Usuario
        </p>
        <p *ngIf="NombreUsuario?.hasError('minlength')" class="error">
          El Nombre de Usuario debe de ser de un mínimo de 4 caracteres
        </p>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="Password" placeholder="Password" formControlName="password"
          [class.border-danger]="NombreUsuarioValid" [(ngModel)]="password">
        <label for="password" class="form-label">Password</label>
      </div>
      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
          La contraseña es requerida
        </p>

        <p *ngIf="Password?.hasError('minlength')" class="error">
          La contreseña debe de tener 4 o más caracteres
        </p>
      </div>
      <br>
      <br>
      <div>
        <button type="submit" class="btn btn-lg sesion">Iniciar Sesión</button>
      </div>
    </form>
    <br>
    <br>
    <div>
      <p>Si no esta registrado: <a routerLink="/register"><button class="btn btn-link">Registrate aquí</button></a>
      </p>
    </div>
    <div>
      <br>
      <a routerLink="/">
        <p>Volver a la pagina principal</p>
      </a>
    </div>
  </div>
</div>