h1{
    text-align: center;
    padding: 80px;
    color: aliceblue;
}
.container {
    max-width: 500px;
    margin: 80px auto;
    background-color: aliceblue;
    padding: 24px;
}
.card{
    padding: 50px;
    background-color: black;
}
.sesion {
    margin: 4px 12px;
    padding: 4px 14px;
    background-color: black;
    color: aliceblue;
    border: 1px white solid;
    float: inherit;
    cursor: pointer;
}
p {
    color: aliceblue;
}
.error{
    color: red;
}

.border-danger{
    border-color:white;
  }