<div><h1>Portfolio de Analía Videla</h1></div>
<div class="container">
  <div class=" card">


    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <div>
      <p>Si no esta registrado: <a routerLink="/register"><button class="btn btn-link">Registrate aquí</button></a></p>
    </div>
    <br>
    <div>      
        <button type="submit" class="btn btn-lg sesion">Iniciar Sesión</button>
    </div>
    <div>
      <br>
      <a routerLink="/">
      <p>Volver a la pagina principal</p>
      </a>
    </div>


  </div>
</div>
