<div class="seccion">
    <h2>Experiencia
      
        <app-button-plus></app-button-plus>
     
    </h2>
    <hr>
    <ul>
      <li *ngFor="let exp of experienciaList">
    <div class="row">
      <div class="col-1">
        <img height="25px" [src]="exp.img" alt="DNRPA">
      </div>
      <div class="col-9">
        <h5>{{exp.nombre}}</h5>
        <p>{{exp.descripcion}}</p>
      </div>
      <div class="col-2">
        <app-button-trash></app-button-trash>
  
        <app-button-pencil routerLink="/editar/{{exp.id}}"></app-button-pencil>
      </div>
    </div>
      </li>
  </ul>
    <br>
  </div>
