<div class="seccion">
  <h2>
    Acerca de mi    
  </h2>
  <ul>
    <li *ngFor="let per of personaList">
      <hr>
      <div class="row">
        <div class="col-2">
           <img class="img-red" height="100px" [src]="per.img" alt="mifoto">
        
        </div>
        <div class="col-8">
          <h5>{{per.nombre}}</h5>
          <p> {{per.descripcion}}</p>
        </div>
        <div class="col-2">
            <app-button-pencil></app-button-pencil>
        </div>
      </div>
      <br>
    </li>
  </ul>
</div>