<div class="seccion">
  <h2>Habilidades</h2>
  <hr>
  <h4>Habilidades Blandas
      <app-button-plus></app-button-plus>
  </h4>
  <br>
  
  <div class="row">
    <div class="col-4">
      <div style="width: 150px;">
        <canvas id="myChart1"></canvas>
      </div>
      <app-button-trash></app-button-trash>
      <app-button-pencil></app-button-pencil>
    </div>
    <div class="col-4">
      <div style="width: 150px;">
        <canvas id="myChart2"></canvas>
      </div>
     <app-button-trash></app-button-trash>
      <app-button-pencil></app-button-pencil>
    </div>
    <div class="col-4">
      <div style="width: 150px;">
        <canvas id="myChart3"></canvas>
      </div>
      <app-button-trash></app-button-trash>
      <app-button-pencil></app-button-pencil>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <h4>Habilidades Duras
      <app-button-plus></app-button-plus>
  </h4>
  <br>
  <div class="row">
    <div class="col-4">
      <div style="width: 150px;">
        <canvas id="myChart4"></canvas>
      </div>
      <app-button-trash></app-button-trash>
      <app-button-pencil></app-button-pencil>
    </div>

    <div class="col-4">
      <div style="width: 150px;">
        <canvas id="myChart5"></canvas>
      </div>
      <app-button-trash></app-button-trash>
      <app-button-pencil></app-button-pencil>
    </div>

    <div class="col-4">
      <div style="width: 150px;">
        <canvas id="myChart6"></canvas>
      </div>
      <app-button-trash></app-button-trash>
      <app-button-pencil></app-button-pencil>
    </div>
  </div>
  <br>

</div>