<div>
    <h1>
        Portolio de Analía Videla
    </h1>
</div>
<div class="container">
    <div class=" card">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name">
            <label for="floatingInput">Nombre </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="apellido">
            <label for="floatingInput">Apellido </label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email </label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <div id="passwordHelpBlock" class="form-text">
                La contraseña debe contener entre 8-20 caracteres.
              </div>
            <br>
            <br>
            <br>
        </div>
        
        <div>
            <button type="submit" class="btn btn-lg sesion">Crear cuenta</button>
        </div>
        <div>
            <a routerLink="/">
                <p>Volver a la pagina principal</p>
            </a>
        </div>
    </div>
</div>

