<div class="seccion">
  <h2>
    Educación
    <a routerLink="/agregar">
      <app-button-plus></app-button-plus>
    </a>
  </h2>
  <hr>
  <ul>
    <li *ngFor="let educ of educacionList">
      <div class="row">
        <div class="col-1">
          <a target="_blank" [href]="educ.link">

            <img class="logo" [src]="educ.img" alt="institucion">
          </a>
        </div>
        <div class="col-9">
          <h5>{{educ.nombre}}</h5>
          <p> {{educ.descripcion}}</p>
        </div>
        <div class="col-2">
          <app-button-trash (click)="borrar(educ.id)" ></app-button-trash>

          <app-button-pencil routerLink="/editar/{{educ.id}}"></app-button-pencil>
        </div>
      </div>
      <br>
  </ul>
</div>